.spinner {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}

.spinner:after {
    animation: changeContent .8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 80px;
}

@keyframes changeContent {
    10% { content: "⠙"; }
    20% { content: "⠹"; }
    30% { content: "⠸"; }
    40% { content: "⠼"; }
    50% { content: "⠴"; }
    60% { content: "⠦"; }
    70% { content: "⠧"; }
    80% { content: "⠇"; }
    90% { content: "⠏"; }
}

.input-count{
    padding: 5px;
    max-width: 120px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-color: #f3f3f3;
}
.select2-container .select2-selection--single{
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
